body{
  margin: 0;
  box-sizing: border-box;
  background-color: antiquewhite;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.game-zone{
  width: 300px;
  border: 1px  solid rgb(138, 138, 229);
  background-color: aliceblue;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.game-container{
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid green;
  background-color: antiquewhite;
}
.game-zone p{
  position: absolute;
  top: -3px;
  font-size: 20px;
}
.game-container div{
  width: 50px;
  height: 50px;
  border: 0.8px solid #4a493d;;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
h3{
  position: absolute;
  bottom: 2px;
}