body{
  margin: 0;
  box-sizing: border-box;
  background-color: antiquewhite;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.feedback-container{
  background-color: white;
  width: 400px;
  height: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  position: relative;
}
.emoji-container{
  display: flex;
    position: absolute;
    left: 50%;
    top: 20%;
    width: 50px;
    overflow: hidden;
    transform: translateX(-50%);
}
.far{
margin: 1px;
transform: translateX(0);
transition: transform 0.2s;
}
.rating-container{
  transform: translateX(-50%);
    left: 50%;
    position: absolute;
    bottom: 20%;
}
.fa-star{
  color: antiquewhite;
}
.fa-star.active{
  color:goldenrod
}